* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  min-width: 100%;
  text-align: center;
  font-size: 24px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nope {
  transition: 500ms ease-in-out;
  opacity: 0;
}

.thanks {
  color: #92174a;
  opacity: 1;
  transition: 1500ms ease-in-out;
  margin-top: 50px;
}

h1,
h2,
h3 {
  pointer-events: none;
}
